nav{
    background-color: #ffffff;
    margin: 2rem 8rem;
}
nav a{
    font-size: 16pt;
    font-weight: 600;
    text-decoration: none;
    color: #02304a;
}
ul{
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo{
    width: 3rem;
    margin: 0 1em 0 0;
}
li{
    text-wrap: nowrap;
    width: min-content;
    text-align: center;
}
a:active{
    font-weight: 400;
}
li:first-child .logo:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in;
}
li:last-child{
    margin-left: auto;
}
li:last-child a{
    border: 3px solid #02304a;
    border-radius: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}
li:last-child a:hover{
    border-color: #aaa;
    box-shadow: 0 0 10px #b4b4b4;
}
.flecha{
    width: 5%;
}
.flecha-2{
    width: 15%;
}
.flecha-3{
    width: 20%;
}
